 <!-- START @WRAPPER -->
        <section id="wrapper">
            <!-- START @HEADER -->
            <header id="header">

                <!-- Start header left -->
                <div class="header-left">
                    <!-- Start offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
                    <div class="navbar-minimize-mobile left">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!--/ End offcanvas left -->

                    <!-- Start navbar header -->
                    <div class="navbar-header">

                        <!-- Start brand -->
                        <a id="tour-1" class="navbar-brand" href="dashboard.html">
                            <img class="logo"  alt="PharmaMA"/>
                        </a><!-- /.navbar-brand -->
                        <!--/ End brand -->

                    </div><!-- /.navbar-header -->
                    <!--/ End navbar header -->

                    <!-- Start offcanvas right: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
                    <div class="navbar-minimize-mobile right">
                        <i class="fa fa-cog"></i>
                    </div>
                    <!--/ End offcanvas right -->

                    <div class="clearfix"></div>
                </div><!-- /.header-left -->
                <!--/ End header left -->

                <!-- Start header right -->
                <div class="header-right">
                    <!-- Start navbar toolbar -->
                    <div class="navbar navbar-toolbar">

                        <!-- Start left navigation -->
                        <ul class="nav navbar-nav navbar-left">

                            <!-- Start sidebar shrink -->
                            <li id="tour-2" class="navbar-minimize">
                                <a href="javascript:void(0);" title="Minimize sidebar">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <!--/ End sidebar shrink -->

                            <!-- Start form search -->
                            <li class="navbar-search">
                                <!-- Just view on mobile screen-->
                                <a href="#" class="trigger-search"><i class="fa fa-search"></i></a>
                                <form id="tour-3" class="navbar-form">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control typeahead rounded" placeholder="Search for people, places and things">
                                        <button type="submit" class="btn btn-theme fa fa-search form-control-feedback rounded"></button>
                                    </div>
                                </form>
                            </li>
                            <!--/ End form search -->

                        </ul><!-- /.nav navbar-nav navbar-left -->
                        <!--/ End left navigation -->

                        <!-- Start right navigation -->
                        <ul class="nav navbar-nav navbar-right"><!-- /.nav navbar-nav navbar-right -->

            

                        <!-- Start profile -->
                        <li id="tour-6" class="dropdown navbar-profile">
                           <li><a href="page-signin.html"><i class="fa fa-sign-out"></i>Logout</a></li>
                            <!--/ End dropdown menu -->
                        </li><!-- /.dropdown navbar-profile -->
                        <!--/ End profile -->

                        <!-- Start settings -->
                        <li id="tour-7" class="navbar-setting pull-right">
                            <a href="javascript:void(0);"><i class="fa fa-cog fa-spin"></i></a>
                        </li><!-- /.navbar-setting pull-right -->
                        <!--/ End settings -->

                        </ul>
                        <!--/ End right navigation -->

                    </div><!-- /.navbar-toolbar -->
                    <!--/ End navbar toolbar -->
                </div><!-- /.header-right -->
                <!--/ End header left -->

            </header> <!-- /#header -->
            <!--/ END HEADER -->

            <!--

            START @SIDEBAR LEFT
            |=========================================================================================================================|
            |  TABLE OF CONTENTS (Apply to sidebar left class)                                                                        |
            |=========================================================================================================================|
            |  01. sidebar-box               |  Variant style sidebar left with box icon                                              |
            |  02. sidebar-rounded           |  Variant style sidebar left with rounded icon                                          |
            |  03. sidebar-circle            |  Variant style sidebar left with circle icon                                           |
            |=========================================================================================================================|

            -->
            <aside id="sidebar-left" class="sidebar-circle">

                <!-- Start left navigation - profile shortcut -->
                <div id="tour-8" class="sidebar-content">
                    <div class="media">
                        <a class="pull-left has-notif avatar" href="page-profile.html">
                            <img src="assets/img/avatar/50/1.png" alt="admin">
                            <i class="online"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Hello, <span>Admin</span></h4>
                            <small>Admin</small>
                        </div>
                    </div>
                </div><!-- /.sidebar-content -->
                <!--/ End left navigation -  profile shortcut -->


                <!-- Start left navigation - menu -->
                <ul id="tour-9" class="sidebar-menu">

                    <!-- Start navigation - DASHBORAD -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Dashboard</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="dashboard" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Dasboard Content 01</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Dasboard Content 02</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Dasboard Content 03</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - DASHBOARD -->

                     <!-- Start navigation - USER -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#user">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">User</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="user" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create User</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Edit User</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search User</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - USER -->


                   <!-- Start navigation - DEAL -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#deal">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Deal</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="deal" class="collapse">
                            <li class="submenu" ng-controller="createDealController" >
                               <a href="javascript:void(0);" ng-click="navigateToCreateDealPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Deal</span>
                               </a>
                            </li>
                            
                           
                             <li class="submenu" ng-controller="searchDealController" >
                               <a href="javascript:void(0);" ng-click="navigateToSearchDealPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Deal</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - USER -->
                    
                     <!-- Start navigation - ADVISOR -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#advisor">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Advisor</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="advisor" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create advisor</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search advisor</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - ADVISOR-->
                    
                    <!-- Start navigation - SUBSCRIPTION -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#subscription">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">SUBSCRIPTION</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="subscription" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Subscription</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Subscription</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - ADVISOR-->
                    
                     <!-- Start navigation - SUBSCRIPTION COMPANY -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#subscriptionCompany">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Subscription Company</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="subscriptionCompany" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Company</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Company</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - SUBSCRIPTION COMPANY-->
                    
                    <!-- Start navigation - CONTRACT -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#contract">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Contract</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="contract" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Contract</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Contract</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - CONTRACT -->
                    
                     <!-- Start navigation - CONTRACT -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#reports">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Reports</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="reports" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Contract</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Contract</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - CONTRACT -->
                    
                    
                    
                </ul><!-- /.sidebar-menu -->
                <!--/ End left navigation - menu -->
                

                <!-- Start left navigation - footer -->
                <div id="tour-10" class="sidebar-footer hidden-xs hidden-sm hidden-md">
                    <a id="setting" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Setting"><i class="fa fa-cog"></i></a>
                    <a id="fullscreen" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Fullscreen"><i class="fa fa-desktop"></i></a>
                    <a id="lock-screen" data-url="page-signin.html" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Lock Screen"><i class="fa fa-lock"></i></a>
                    <a id="logout" data-url="page-lock-screen.html" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Logout"><i class="fa fa-power-off"></i></a>
                </div><!-- /.sidebar-footer -->
                <!--/ End left navigation - footer -->

            </aside><!-- /#sidebar-left -->
            <!--/ END SIDEBAR LEFT -->
            
            
            

            <!-- START @PAGE CONTENT -->
            <section id="page-content">

                <!-- Start page header -->
                <div id="tour-11" class="header-content">
                    <h2><i class="fa fa-home"></i>Create Deal<span>Enter Deal Details</span></h2>
                    <div class="breadcrumb-wrapper hidden-xs">
                        <span class="label">You are here:</span>
                        <ol class="breadcrumb">
                            <li class="active">Create Deal</li>
                        </ol>
                    </div>
                </div><!-- /.header-content -->
                <!--/ End page header -->


                <!-- Start body content -->
                <div class="body-content animated fadeIn">
                
                 
                    <!--  Deal Details Start -->
                    <div class="row">
                        <div class="col-md-6">

                            <!-- Deal Details start -->
                            <div class="panel rounded shadow">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title">Deal Details<code></code></h3>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body no-padding ">

                                    <div class="form-horizontal mt-10">
                                        <div class="form-body">
                                            <div class="form-group ">
                                                <label for="inputEmail3" class="col-sm-3 control-label">Date</label>
                                                <div class="col-sm-7">
                                                  <input type="button" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="dt" is-open="showdp" date-disabled="disabled(date, mode)" ng-click="showcalendar($event)" style="text-align:left;"/>
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="dealHeadline" class="col-sm-3 control-label">Headline</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="dealHeadline">
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="dealValue" class="col-sm-3 control-label">Deal Value</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="dealValue">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                                <label for="originalDealValue" class="col-sm-3 control-label">Original Deal Value</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="originalDealValue">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                                <label for="originalDealCurrency" class="col-sm-3 control-label">Original Deal Currency</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="originalDealCurrency">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                             <div class="form-group">
                                                <label for="transactionType" class="col-sm-3 control-label">Original Deal Currency</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="transactionType">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                             <div class="form-group">
                                                <label for="assetsDetails" class="col-sm-3 control-label">Assets Details</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="assetsDeTails">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                             <div class="form-group">
                                                <label for="newsLink" class="col-sm-3 control-label">News Link</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="newsLink">
                                                </div>
                                            </div><!-- /.form-group -->
 
                                        </div><!-- /.form-body -->
                                       
                                    </div>

                                </div><!-- /.panel-body -->
                            </div><!-- /.panel -->
                            <!--/ Deal Details end -->

                        </div>
                        
                        <!--  START BUYERSSSSSSS -->              
                
					<div class="col-md-6">
					
					 <div class="panel rounded shadow">
					 
						<ul class="nav nav-tabs" id="myTab">
							<li class="active"><a data-target="#buyer1" data-toggle="tab"><b>Buyer 1</b></a></li>
							<li><a data-target="#buyer2" data-toggle="tab">Buyer 2</a></li>
							<li><a data-target="#buyer3" data-toggle="tab">Buyer 3</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="buyer1">
							 <div class="panel-body no-padding">

                                    <div class="form-horizontal mt-10">
                                    
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label for="buyer1CompanyName" class="col-sm-3 control-label">Name</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer1CompanyName">
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="buyer1PercentageHolding" class="col-sm-3 control-label">Percentage Holding</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer1PercentageHolding">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer1FinancialAdvisor1" class="col-sm-3 control-label">Finance Advisor 1</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer1FinancialAdvisor1">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer1FinancialAdvisor2" class="col-sm-3 control-label">Finance Advisor 2</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer1FinancialAdvisor2">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer1LegalAdvisor1" class="col-sm-3 control-label">Legal Advisor 1</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer1LegalAdvisor1">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer1LegalAdvisor2" class="col-sm-3 control-label">Legal Advisor 2</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer1LegalAdvisor2">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            
                                          
                                        </div><!-- /.form-body -->
                                       
                                    </div>

                                </div><!-- /.panel-body -->
								
							</div>
							
							
							<div class="tab-pane" id="buyer2">
								 <div class="form-horizontal mt-10">
                                    
                                         <div class="form-body">
                                            <div class="form-group">
                                                <label for="buyer2CompanyName" class="col-sm-3 control-label">Name</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer2CompanyName">
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="buyer2PercentageHolding" class="col-sm-3 control-label">Percentage Holding</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer2PercentageHolding">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer2FinancialAdvisor1" class="col-sm-3 control-label">Finance Advisor 1</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer2FinancialAdvisor1">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer2FinancialAdvisor2" class="col-sm-3 control-label">Finance Advisor 2</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer2FinancialAdvisor2">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer2LegalAdvisor1" class="col-sm-3 control-label">Legal Advisor 1</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer2LegalAdvisor1">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer2LegalAdvisor2" class="col-sm-3 control-label">Legal Advisor 2</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer2LegalAdvisor2">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                          
                                        </div><!-- /.form-body -->
                                       
                                    </div>

							</div>
							
							<div class="tab-pane" id="buyer3">
								 <div class="form-horizontal mt-10">
								 
                                           <div class="form-body">
                                            <div class="form-group">
                                                <label for="buyer3CompanyName" class="col-sm-3 control-label">Name</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer3CompanyName">
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="buyer3PercentageHolding" class="col-sm-3 control-label">Percentage Holding</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer3PercentageHolding">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer3FinancialAdvisor1" class="col-sm-3 control-label">Finance Advisor 1</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer3FinancialAdvisor1">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer3FinancialAdvisor2" class="col-sm-3 control-label">Finance Advisor 2</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer3FinancialAdvisor2">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer3LegalAdvisor1" class="col-sm-3 control-label">Legal Advisor 1</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer3LegalAdvisor1">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                              <label for="buyer3LegalAdvisor2" class="col-sm-3 control-label">Legal Advisor 2</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="buyer3LegalAdvisor2">
                                                </div>
           
                                            </div><!-- /.form-group -->
                                          
                                        </div><!-- /.form-body -->    
                                    </div>

							</div>
						</div>
		
						</div><!--  Panel rounded end -->

					</div>
                        <!--  END BUYERRRRRRR -->
                         
                    </div><!-- /.row -->
                <!--  Deal Details  and Buyer End -->
                
 
                
            <!--  END  Seller  Company -->
            
             <!--  START Buyer Company -->
            <div class="row">
                        <div class="col-md-12">

                            <!-- Deal Details start -->
                            <div class="panel rounded shadow">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title">Seller<code></code></h3>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body no-padding ">

                                    <div class="form-horizontal mt-10">
                                        <div class="form-body">
                                            
                                            <div class="form-group">
                                                <label for="sellerCompanyName" class="col-sm-3 control-label">Headline</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="sellerCompanyName">
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="sellerPercentageHolding" class="col-sm-3 control-label">Deal Value</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="sellerPercentageHolding">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                                <label for="sellerFinancialAdvisor1" class="col-sm-3 control-label">Original Deal Value</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="sellerFinancialAdvisor1">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                            <div class="form-group">
                                                <label for="sellerFinancialAdvisor2" class="col-sm-3 control-label">Original Deal Currency</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="sellerFinancialAdvisor2">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                             <div class="form-group">
                                                <label for="sellerLegalAdvisor1" class="col-sm-3 control-label">Original Deal Currency</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="sellerLegalAdvisor1">
                                                </div>
                                            </div><!-- /.form-group -->
                                            
                                             <div class="form-group">
                                                <label for="sellerLegalAdvisor2" class="col-sm-3 control-label">Assets Details</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="sellerLegalAdvisor2">
                                                </div>
                                            </div><!-- /.form-group -->
                                                        
                                        </div><!-- /.form-body -->
                                    </div>

                                </div><!-- /.panel-body -->
                            </div><!-- /.panel -->
                            <!--/ Deal Details end -->

                        </div>
                    </div><!-- /.row -->
                    
                    <!--  END seller company  -->
                
                

                </div><!-- /.body-content -->
                <!--/ End body content --> 

                <!-- Start footer content -->
                <footer class="footer-content">
                    <span id="tour-19">
                        2014 - <span id="copyright-year"></span> &copy; Pharma. Created by <a href="#" target="_blank">NMBR</a>, Bangalore
                    </span>
                    <span id="tour-20" class="pull-right">0.01 GB(0%) of 15 GB used</span>
                </footer><!-- /.footer-content -->
                <!--/ End footer content -->
                

            </section><!-- /#page-content -->
            <!--/ END PAGE CONTENT -->
            

        </section><!-- /#wrapper -->
        <!--/ END WRAPPER -->
        
        
        
        
        