 <!-- START @WRAPPER -->
        <section id="wrapper">
            <!-- START @HEADER -->
            <header id="header">

                <!-- Start header left -->
                <div class="header-left">
                    <!-- Start offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
                    <div class="navbar-minimize-mobile left">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!--/ End offcanvas left -->

                    <!-- Start navbar header -->
                    <div class="navbar-header">

                        <!-- Start brand -->
                        <a id="tour-1" class="navbar-brand" href="dashboard.html">
                            <img class="logo"  alt="PharmaMA"/>
                        </a><!-- /.navbar-brand -->
                        <!--/ End brand -->

                    </div><!-- /.navbar-header -->
                    <!--/ End navbar header -->

                    <!-- Start offcanvas right: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
                    <div class="navbar-minimize-mobile right">
                        <i class="fa fa-cog"></i>
                    </div>
                    <!--/ End offcanvas right -->

                    <div class="clearfix"></div>
                </div><!-- /.header-left -->
                <!--/ End header left -->

                <!-- Start header right -->
                <div class="header-right">
                    <!-- Start navbar toolbar -->
                    <div class="navbar navbar-toolbar">

                        <!-- Start left navigation -->
                        <ul class="nav navbar-nav navbar-left">

                            <!-- Start sidebar shrink -->
                            <li id="tour-2" class="navbar-minimize">
                                <a href="javascript:void(0);" title="Minimize sidebar">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <!--/ End sidebar shrink -->

                            <!-- Start form search -->
                            <li class="navbar-search">
                                <!-- Just view on mobile screen-->
                                <a href="#" class="trigger-search"><i class="fa fa-search"></i></a>
                                <form id="tour-3" class="navbar-form">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control typeahead rounded" placeholder="Search for people, places and things">
                                        <button type="submit" class="btn btn-theme fa fa-search form-control-feedback rounded"></button>
                                    </div>
                                </form>
                            </li>
                            <!--/ End form search -->

                        </ul><!-- /.nav navbar-nav navbar-left -->
                        <!--/ End left navigation -->

                        <!-- Start right navigation -->
                        <ul class="nav navbar-nav navbar-right"><!-- /.nav navbar-nav navbar-right -->

            

                        <!-- Start profile -->
                        <li id="tour-6" class="dropdown navbar-profile">
                           <li><a href="page-signin.html"><i class="fa fa-sign-out"></i>Logout</a></li>
                            <!--/ End dropdown menu -->
                        </li><!-- /.dropdown navbar-profile -->
                        <!--/ End profile -->

                        <!-- Start settings -->
                        <li id="tour-7" class="navbar-setting pull-right">
                            <a href="javascript:void(0);"><i class="fa fa-cog fa-spin"></i></a>
                        </li><!-- /.navbar-setting pull-right -->
                        <!--/ End settings -->

                        </ul>
                        <!--/ End right navigation -->

                    </div><!-- /.navbar-toolbar -->
                    <!--/ End navbar toolbar -->
                </div><!-- /.header-right -->
                <!--/ End header left -->

            </header> <!-- /#header -->
            <!--/ END HEADER -->

            <!--

            START @SIDEBAR LEFT
            |=========================================================================================================================|
            |  TABLE OF CONTENTS (Apply to sidebar left class)                                                                        |
            |=========================================================================================================================|
            |  01. sidebar-box               |  Variant style sidebar left with box icon                                              |
            |  02. sidebar-rounded           |  Variant style sidebar left with rounded icon                                          |
            |  03. sidebar-circle            |  Variant style sidebar left with circle icon                                           |
            |=========================================================================================================================|

            -->
            <aside id="sidebar-left" class="sidebar-circle">

                <!-- Start left navigation - profile shortcut -->
                <div id="tour-8" class="sidebar-content">
                    <div class="media">
                        <a class="pull-left has-notif avatar" href="page-profile.html">
                            <img src="assets/img/avatar/50/1.png" alt="admin">
                            <i class="online"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Hello, <span>Admin</span></h4>
                            <small>Admin</small>
                        </div>
                    </div>
                </div><!-- /.sidebar-content -->
                <!--/ End left navigation -  profile shortcut -->


                <!-- Start left navigation - menu -->
                <ul id="tour-9" class="sidebar-menu">

                    <!-- Start navigation - DASHBORAD -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Dashboard</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="dashboard" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Dasboard Content 01</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Dasboard Content 02</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Dasboard Content 03</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - DASHBOARD -->

                     <!-- Start navigation - USER -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#user">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">User</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="user" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create User</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Edit User</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search User</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - USER -->

                   <!-- Start navigation - DEAL -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#deal">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Deal</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="deal" class="collapse">
                            <li class="submenu" ng-controller="createDealController" >
                               <a href="javascript:void(0);" ng-click="navigateToCreateDealPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Deal</span>
                               </a>
                            </li>
                            
                           
                             <li class="submenu" ng-controller="searchDealController" >
                               <a href="javascript:void(0);" ng-click="navigateToSearchDealPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Deal</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - USER -->
                    
                     <!-- Start navigation - ADVISOR -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#advisor">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Advisor</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="advisor" class="collapse">
                            <li class="submenu" ng-controller="createAdvisorController">
                               <a href="javascript:void(0);" ng-click="navigateToCreateAdvisorPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create advisor</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search advisor</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - ADVISOR-->
                    
                    <!-- Start navigation - SUBSCRIPTION -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#subscription">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">SUBSCRIPTION</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="subscription" class="collapse">
                            <li class="submenu" ng-controller="createSubscriptionController">
                               <a href="javascript:void(0);" ng-click="navigateToCreateSubscriptionPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Subscription</span>
                               </a>
                            </li>
                             <li class="submenu" ng-controller="searchSubscriptionController">
                               <a href="javascript:void(0);" ng-click="navigateToSearchSubscriptionPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Subscription</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - ADVISOR-->
                    
                     <!-- Start navigation - SUBSCRIPTION COMPANY -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#subscriptionCompany">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Subscription Company</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="subscriptionCompany" class="collapse">
                            <li class="submenu" ng-controller="createSubscriptionCompanyController">
                               <a href="javascript:void(0);" ng-click="navigateToCreateSubscriptionCompanyPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Company</span>
                               </a>
                            </li>
                             <li class="submenu" ng-controller="searchSubscriptionCompanyController"> 
                               <a href="javascript:void(0);" ng-click="navigateToSearchSubscriptionCompanyPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Company</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - SUBSCRIPTION COMPANY-->
                    
                    <!-- Start navigation - CONTRACT -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#contract">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Contract</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="contract" class="collapse">
                            <li class="submenu" ng-controller ="createContractController">                      
                               <a href="javascript:void(0);" ng-click="navigateToCreateContractPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Contract</span>
                               </a>
                            </li>
                             <li class="submenu" ng-controller ="searchContractController">
                               <a href="javascript:void(0);" ng-click="navigateToSearchContractPage()">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Contract</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - CONTRACT -->
                    
                     <!-- Start navigation - CONTRACT -->
                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#reports">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="text">Reports</span>
                            <span class="arrow"></span>
                            <span class="selected"></span>
                        </a>
                        <ul  id="reports" class="collapse">
                            <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Create Contract</span>
                               </a>
                            </li>
                             <li class="submenu">
                               <a href="javascript:void(0);">
                                  <span class="icon"><i class="fa fa-leaf"></i></span>
                                  <span class="text">Search Contract</span>
                               </a>
                            </li>
                         
                        </ul>
                    </li>
                    <!--/ End navigation - CONTRACT -->
                    
                    
                    
                </ul><!-- /.sidebar-menu -->
                <!--/ End left navigation - menu -->
                

                <!-- Start left navigation - footer -->
                <div id="tour-10" class="sidebar-footer hidden-xs hidden-sm hidden-md">
                    <a id="setting" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Setting"><i class="fa fa-cog"></i></a>
                    <a id="fullscreen" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Fullscreen"><i class="fa fa-desktop"></i></a>
                    <a id="lock-screen" data-url="page-signin.html" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Lock Screen"><i class="fa fa-lock"></i></a>
                    <a id="logout" data-url="page-lock-screen.html" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Logout"><i class="fa fa-power-off"></i></a>
                </div><!-- /.sidebar-footer -->
                <!--/ End left navigation - footer -->

            </aside><!-- /#sidebar-left -->
            <!--/ END SIDEBAR LEFT -->
            
            
            

            <!-- START @PAGE CONTENT -->
            <section id="page-content">

                <!-- Start page header -->
                <div id="tour-11" class="header-content">
                    <h2><i class="fa fa-home"></i>Create Subscription<span>Enter Subscription Details</span></h2>
                    <div class="breadcrumb-wrapper hidden-xs">
                        <span class="label">You are here:</span>
                        <ol class="breadcrumb">
                            <li class="active">Create Subscription</li>
                        </ol>
                    </div>
                </div><!-- /.header-content -->
                <!--/ End page header -->


                <!-- Start body content -->
                <div class="body-content animated fadeIn">
                    <div id="tour-12" class="row">
                    
 
                    </div><!-- /.row -->
                    
                    
 


                </div><!-- /.body-content -->
                <!--/ End body content --> 

                <!-- Start footer content -->
                <footer class="footer-content">
                    <span id="tour-19">
                        2014 - <span id="copyright-year"></span> &copy; Pharma. Created by <a href="#" target="_blank">NMBR</a>, Bangalore
                    </span>
                    <span id="tour-20" class="pull-right">0.01 GB(0%) of 15 GB used</span>
                </footer><!-- /.footer-content -->
                <!--/ End footer content -->
                

            </section><!-- /#page-content -->
            <!--/ END PAGE CONTENT -->
            

        </section><!-- /#wrapper -->
        <!--/ END WRAPPER -->
        
        
        
        
        